<!--html直接引用直接引用vue和和element-ui的方法的方法-->
<!--代码如下所示：-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--    <script src="../static/js/jquery-1.11.0.min.js"></script>-->
    <script src="https://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/runner.css">
    <script src="../static/js/runner.js"></script>
    <title>运行程序</title>
</head>
<body>
<div id="app">
    <el-container>
    <el-container style="flex:0; height: 700px; border: 1px solid #eee">
        <el-aside width="200px" style="background-color: rgb(238, 241, 246)">
            <el-menu :default-openeds="['1', '3']">
                <el-submenu index="1">
                    <template slot="title" id="history-title"><i class="el-icon-message"></i>历史记录</template>
                    <el-menu-item-group id="history_group">
                        <el-menu-item index="1-1" class="history_item" codeID="cid110" >
                            <a href="http://localhost/code/detail?codeID=">2022.06.21-08:30</a></el-menu-item>

                        <el-menu-item class="history_item" index="1-0" codeID=1651651> <a href="http://localhost/code/detail?&codeID=1651651"></a></el-menu-item>
                        <el-menu-item index="1-2" class="history_item" codeID="cid110">2022.06.20-08:30</el-menu-item>
                        <el-menu-item index="1-2" class="history_item" codeID="cid110">2022.06.20-08:30</el-menu-item>
                        <el-menu-item index="1-2" class="history_item" codeID="cid110">2022.06.20-08:30</el-menu-item>
                        <el-menu-item index="1-2" class="history_item" codeID="cid110">2022.06.20-08:30</el-menu-item>
                        <el-menu-item index="1-2" class="history_item" codeID="cid110">2022.06.20-08:30</el-menu-item>
                        <el-menu-item index="1-2" class="history_item" codeID="cid110">2022.06.20-08:30</el-menu-item>
                        <el-menu-item index="1-2" class="history_item" codeID="cid110">2022.06.20-08:30</el-menu-item>
                        <el-menu-item index="1-2" class="history_item" codeID="cid110">2022.06.20-08:30</el-menu-item>
                        <el-menu-item index="1-2" class="history_item" codeID="cid110">2022.06.20-08:30</el-menu-item>
                        <el-menu-item index="1-2" class="history_item" codeID="cid110">2022.06.20-08:30</el-menu-item>
                        <el-menu-item index="1-2" class="history_item" codeID="cid110">2022.06.20-08:30</el-menu-item>
                        <el-menu-item index="1-2" class="history_item" codeID="cid110">2022.06.20-08:30</el-menu-item>
                    </el-menu-item-group>
                </el-submenu>
            </el-menu>
        </el-aside>
    </el-container>
    <el-container>
        <el-header id="header1" style="position: relative; left: -750px ">
            <form action="" class="header1ele">
                <select name="language" id="langSelect">
                    <option value="Python">Python</option>
                    <option value="Golang">Golang</option>
                </select>
            </form>
            <el-button type="success" plain class="header1ele" id="runCode">运行</el-button>
            <div class="header1ele" id="usernameShow">
                <span id="span_username"></span>
            </div>

        </el-header>

        <el-main>
            <div class="Code" id="inputCode">
                <textarea id="input1" cols="90" rows="15"></textarea>
            </div>
            <div class="Code">
                <label id="result">&nbsp;&nbsp;运行结果：&nbsp;&nbsp;</label>
                <label id="resultInfo"></label>
            </div>
        </el-main>
    </el-container>
    </el-container>
    <style>
        .el-header {
            background-color: #B3C0D1;
            color: #333;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
        }
    </style>


</div>
</body>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return { visible: false }
        }
    })
</script>
</html>