<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/jquery-1.11.0.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/runner.css">
    <script src="../static/js/runner.js"></script>
    <title>运行程序</title>
</head>
<body>
<ul class="nav nav-pills nav-stacked">
    <!--    <li role="presentation" class="active"><a href="#">Home</a></li>-->
    <!--    <li role="presentation"><a href="#">Profile</a></li>-->
    <li role="presentation"><a href="#">CodeCloud (`3`)</a></li>
</ul>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 inner history">11111</div>
        <div class="col-lg-10 col-md-10 col-sm-10 inner">222
            <div class="login_inner">

            </div>
        </div>
    </div>

</div>
</body>
</html>