/*
.inner {
    border: 1px solid red;
}
*/
body {
    background-color: #D2E6ED;
}

.login_inner {
    overflow: hidden;
    margin-top: 100px;
    padding: 100px 50px;
    background-color: #8EACEA;
    height: 400px;
}

.login_inner form{
    width: 100%;
    overflow: hidden;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    height: 600px;
}
.login_inner input {
    display: inline-block;
    width: 300px;
    height: 50px;
    border: 1px solid #d8d8d8;
    font-size: 30px;
    color: #494949;
    line-height: 28px;
    padding: 6px 0 6px 12px;
    box-shadow: 0 0 5px #fff;
    outline: none;
    transition: box-shadow 0.25s linear 0s;
    -webkit-transition: box-shadow 0.25s linear 0s;
    margin-bottom: 37px;
}

.submit_btn button {
    width: 300px;
    height: 50px;
    border: none;
    background-color: #9789F9;
    text-align: center;
    line-height: 40px;
    color: #F1E0E0;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    float: left;
}

#loginForm {
    margin: -25px 0 0 30px;
}